body {
  background-color: black;
  margin: 0px;
}

.img-1 {
  border: 5px solid white;
  width: 700px;
  height: 380px;
}

.img-2 {
  width: 20px;
  height: 20px;
}
h1 {
  text-transform: uppercase;
}

div {
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  width: 56%;
  margin-left: 22%;
  padding-top: 20px;
}

a {
  text-decoration: none;
  margin: 5px;
}
